.circle {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 10s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text span {
  position: absolute;
  left: 50%;
  font-size: 0.925rem;
  transform-origin: 0 70px;
  letter-spacing: 3px;
}

/* Offers */
.Offers {
  width: 100%;
  min-height: 27rem;
  overflow: hidden;
  position: relative;
}

.Offers__slider {
  display: flex;
  width: 300%;
  animation: slide 15s infinite;
}

.Offers__slide {
  width: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  min-height: 28rem;
}

.slide1 {
  background: url("../assets/images/showcase/Showcase.jpg") no-repeat center;
  background-size: cover;
}
.slide2 {
  background: url("../assets/images/offers/offers_banner.jpg") no-repeat center;
  background-size: cover;
}
.slide3 {
  background: url("../assets/images/supportPages/corporate-banner.jpg")
    no-repeat center;
  background-size: cover;
}

@keyframes slide {
  0%,
  20%,
  100% {
    transform: translateX(0);
  }
  33.33%,
  53.33% {
    transform: translateX(-100%);
  }
  66.66%,
  86.66% {
    transform: translateX(-200%);
  }
}

.Offers__section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Offers__content_wrapper {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 450px;
}

.tourskart__slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.tour__title_fs {
  width: 100%;
  max-width: 45rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--hyr_white_color);
  line-height: 1.5;
  text-wrap: initial;
}
.tour__title_fs > a > span {
  color: rgb(255, 214, 148);
}

@media screen and (max-width: 786px) {
  .tour__title_fs {
    font-size: 2.25rem;
    font-weight: 700;
    text-wrap: initial;
  }
}

@media screen and (max-width: 586px) {
  .tour__title_fs {
    font-size: 1.75rem;
    font-weight: 700;
    text-wrap: balance;
  }
}

@media screen and (max-width: 480px) {
  .tour__title_fs {
    font-size: 1.5rem;
    font-weight: 700;
    text-wrap: balance;
  }
}

.tourskart__slide.slider_image1 {
  background: linear-gradient(
      102.17deg,
      rgba(26, 25, 33, 0.76) 6.5%,
      rgba(51, 56, 75, 0.569) 42.52%,
      rgba(21, 31, 66, 0.51) 52.61%,
      rgba(21, 34, 74, 0.604157) 61.37%,
      rgba(29, 36, 51, 0.8) 100%
    ),
    url("../assets/images/slider/tour1.jpg") center no-repeat;
  background-size: cover;
}

.tourskart__slide.slider_image2 {
  background: linear-gradient(
      102.17deg,
      rgba(26, 25, 33, 0.76) 6.5%,
      rgba(51, 56, 75, 0.569) 42.52%,
      rgba(21, 31, 66, 0.51) 52.61%,
      rgba(21, 34, 74, 0.604157) 61.37%,
      rgba(29, 36, 51, 0.8) 100%
    ),
    url("../assets/images/slider/tour2.jpg") center no-repeat;
  background-size: cover;
}

.tourskart__slide.slider_image3 {
  background: linear-gradient(
      102.17deg,
      rgba(26, 25, 33, 0.76) 6.5%,
      rgba(51, 56, 75, 0.569) 42.52%,
      rgba(21, 31, 66, 0.51) 52.61%,
      rgba(21, 34, 74, 0.604157) 61.37%,
      rgba(29, 36, 51, 0.8) 100%
    ),
    url("../assets/images/slider/tour3.jpg") center no-repeat;
  background-size: cover;
}
