.Features {
  background-color: var(--hyr_theme_primary_color);
}

.Origin__layout_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.about_origin__layout_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.Origin__content_area {
  width: 100%;
}
.Origin__image_area {
  width: 100%;
}

.origin_banner {
  width: 100%;
  min-height: 20rem;
  border-radius: 1rem;
}

.displayStats__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
  padding-top: 2rem;
}
.displayStats__card {
  padding: 1rem;
  background-color: #1572d3;
  color: #fff;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.Analytics__number {
  font-size: var(--hyr_subtitle_fs);
  font-weight: 700;
  color: var(--hyr_white_color);
  display: flex;
  align-items: flex-start;
  gap: 0.45rem;
}
.Analytics__number > span {
  font-size: var(--hyr_heading_fs);
}
.Analytics__Info {
  font-size: var(--hyr_tiny_fs);
  font-weight: 500;
  color: var(--hyr_white_color);
  white-space: nowrap;
}

.Origin__image_container {
  position: relative;
}

.circular_spinner {
  width: 6rem;
  height: auto;
  position: absolute;
  top: 5rem;
  left: -3rem;
  animation: anim 10s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mobile_card {
  display: none;
}
.desktop_card {
  display: block;
}

.only__desktop {
  display: flex;
}

@media screen and (max-width: 886px) {
  .Origin__layout_grid {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5rem;
  }
  .about_origin__layout_grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 5rem;
  }
  .displayStats__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;
    padding-top: 2rem;
  }
  .origin_banner {
    width: 100%;
    max-width: 30rem;
    min-height: 20rem;
    border-radius: 1rem;
  }
  .circular_spinner {
    width: 5rem;
    height: auto;
    position: absolute;
    left: 1.5rem;
    top: 17rem;
  }
}

@media screen and (max-width: 586px) {
  .mobile_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .desktop_card {
    display: none;
  }
  .displayStats__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    padding-top: 1rem;
  }
  .displayStats__card {
    padding: 1rem 2rem;
  }
  .only__desktop {
    display: none;
  }

  .Showcase__content_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.75rem !important;
    padding-top: 6.5rem !important;
    padding-bottom: 3rem !important;
  }
}
