.SubPage__Banner {
  width: 100%;
}

.b2b__banner {
  width: 100%;
  background: url("../assets/images/supportPages/b2b-banner.jpg") no-repeat
    center;
  background-size: cover;
}
.b2b__cover {
  width: 100%;
  background: url("../assets/images/supportPages/b2b-cover.jpg") no-repeat
    center;
  background-size: cover;
}
.corporate__banner {
  width: 100%;
  background: url("../assets/images/supportPages/corporate-banner.jpg")
    no-repeat center;
  background-size: cover;
}
.corporate__cover {
  width: 100%;
  background: url("../assets/images/supportPages/corporate-cover.jpg") no-repeat
    center;
  background-size: cover;
}
.events__banner {
  width: 100%;
  background: url("../assets/images/supportPages/events-banner.jpg") no-repeat
    center;
  background-size: cover;
}
.events__cover {
  width: 100%;
  background: url("../assets/images/supportPages/events-cover.jpg") no-repeat
    center;
  background-size: cover;
}

.SubPage__content_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.SubPage__content_grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 3rem;
}

.enquiry__form_body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.enquiry__form {
  padding: 2rem;
  border-radius: 0.6rem;
  /* background-color: var(--hyr_theme_primary_color); */
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.enquiry__form_header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.SubPage__cover_image {
  width: 100%;
  height: 20rem;
  border-radius: 0.6rem;
}

.SubPage__content_details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input_field {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 10px 16px;
  color: rgb(36 32 33);
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: max(0.9722222222vw, 12px);
  line-height: 1.6;
  font-weight: 400;
  border-radius: 1rem;
}

.mi_btn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  outline: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0.75rem 3rem;
  border-radius: 2rem;
}

.mi_btn_primary {
  background-color: var(--hyr_secondary_color) !important;
  border: 2px solid var(--hyr_secondary_color) !important;
  color: #fff !important;
}

.subpage__message_group {
  padding-top: 2rem;
}

.Subpage__banner {
  width: 3rem;
  height: 3rem;
  border-radius: 0.45rem;
  background-color: var(--hyr_theme_primary_color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Subpage__banner > i {
  font-size: 1.35rem;
  color: var(--hyr_primary_color);
  object-fit: contain;
}

.Subpage_card {
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  gap: 1.25rem;
}

.Subpage__content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media screen and (max-width: 786px) {
  .SubPage__content_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
